@model List<HocThemNetCoreB2.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>
    @TempData["StatusMessage"]

</h1>
<p>
    @*@item.StudentId -@item.Name*@

</p>
<h1 class="h3 mb-2 text-gray-900"> Danh sách Loại sản phẩm </h1>
<div class=" row float-right">
    <a class="btn btn-success" href="/admin/category/create"> <i class="fa fa-plus"></i> Tạo Mới </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th scope="col">Tên Loại SP</th>
            <th scope="col">Mô tả </th>
            <th scope="col">Keys Words</th>
            <th scope="col">MetaDesscript</th>
            <th scope="col">Public </th>
            <th> Thao tác </th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>@Model[i].CategoryName</td>
                <td>@Model[i].Description</td>
               
                <td>@Model[i].MetaKeywords</td>
                <td>@Model[i].MetaDescription</td>
                <td>
                    @if (Model[i].ShowIndex == true)
                    {
                        <i class="fa fa-check"></i>
                    }
                </td>
                <td>

                    <a href="/admin/category/edit" class="btn btn-info"><i class="fa fa-edit"></i></a>
                    <a href="/admin/category/delete" class="btn btn-danger"><i class="fa fa-recycle"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

