@{
    ViewData["Title"] = "Home Page";
    var student = ViewData["Student"] as Student;
}

<header class="section-heading">
    <a href="#" class="btn btn-outline-primary float-right">See all</a>
    <h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->


@*<h1>
    @ViewBag.ThongBao
</h1>
<h2>
    @ViewBag.Product.Name
    @ViewBag.Product.StudentId
</h2>
<h2>
    @student.Name
    @student.StudentId
</h2>*@
<div class="row">
    @for(int i = 0; i< 10; i++)
    {
        <partial name="_ProductItem"/>
    }
</div> <!-- row.// -->
